<!DOCTYPE html>
<html>
    <head>
        <title>GS: Invest Assistant</title>
        <script type="text/javascript" src="/eel.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="topnav"></div><br>
        <div id="wrapper">
          <div id="menu"></div>
          <div id="content"></div>
        </div>

        <script>
          function addHeader() {
          header = {
            "Главная": "#home",
            "Отчёты": "#reports",
            "Календарь": "#calendar",
            "Меню": "#menu",
            "Настройки": "#set"
          };
          const divHeader = document.getElementsByClassName("topnav")[0];
          for (key in header) {
            let newElement = document.createElement("a");
            newElement.textContent = key;
            if (key == "Отчёты") {
              newElement.classList.add("active");
            };
            newElement.href = header[key]
            divHeader.appendChild(newElement);
          };
        };
        addHeader();
        </script>
        <script type="text/javascript" src="/scripts/page.js"></script>
        <p id="data"></p>
        <input type="text" id="test" name="email">
        <input type="text" id="test2" name="data">
        <input type="submit" class="btn" id="btn-sum" value="Click" onclick="data_stream()">
        <h1></h1>
        <input type="text" id="js_text" name="data">
        <input type="submit" class="btn" id="js_btn" value="Click">
        <p id="par_block">Hello</p>
        <script>
            async function data_stream() {
                let num_1 = parseFloat(document.getElementById("test").value);
                let num_2 = parseFloat(document.getElementById("test2").value);
                document.getElementById("p1").innerHTML = await eel.summer(num_1, num_2)();
            };
            document.getElementById("p1").innerHTML = "Calc";
        </script>
    </body>
</html>