<!DOCTYPE html>
<html>
    <head>
        <title>GS: Invest Assistant</title>
        <script type="text/javascript" src="/eel.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="topnav"></div><br>
        <div id="wrapper">
          <div class="menu" id="menu"></div>
          <div id="content"></div>
          </div>
        </div>
        <div id="formData"></div>

        <script type="text/javascript" src="/scripts/template_form.js"></script>
        <script type="text/javascript" src="/scripts/set_report.js"></script>
        <script type="text/javascript" src="/scripts/page.js"></script>
        <script>
            addHeader();
            getMenu("main");
            const mainHead = document.getElementById("data_main");
            mainHead.className = "active";
        </script>



    </body>
</html>